.body{
    background-color: black;
}

.text{
    color: white;
}

/* .pad{
    padding: 20px 100px;
} */

.p_top{
    padding: 20px 20px;
}

.text_style{
    font-size: 50px; 
    font-weight: 800;
}

.img_size{
    width: 370px;
    height: 370px;
    border-radius: 5px;
    object-fit: cover;
}

#scrollBtn{
    border: 1px solid white;
    width: 30%;
    height: 40px;
    border-radius: 2px; 
    background-color: white;
    color: black;
    cursor: pointer;
}

.mre{
    border: 1px solid white;
    padding: 10px;
    border-radius: 2px; 
}

/* .know_me{
    display: flex;
    gap: 70px; 
    align-items: center; 
    justify-content: center;
} */

.new_text{
    font-size: 25px; 
    font-weight: 400;
}

.abt_me{
    margin-top: 70px;
    font-size: 30px;
    font-weight: 600;
}

/* .sat{
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
} */

.w_top{
    margin-top: 50px;
}

.project_pics_one{
   width: 370px;
}

.project_pics_two{
    width: 370px;
    height: 175px;
}


.skill{
    border: 1px solid white;
   padding-top: 15px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 15px;
    width: fit-content;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.icon{
    width: 20px;
    gap: 5px;
}

.flex{
     display: flex; 
     flex-wrap: wrap;
     gap: 30px;
    }

    .live_demo{
        border: 1px solid black;
        font-size: 15px;
        font-weight: 100;
        padding: 8px;
        background-color: white;
        color: #32cd32;
        text-decoration: none;
        border-radius: 5px;
    }

    .img_rd{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .text_container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

   .contain{
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    color: black;
    align-items: center;
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
   }

   .box{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    






















@media only screen and (min-width:
600px){
    
}
























@media only screen and (min-width:
992px){
    .pad{
        padding: 20px 70px;
    }
    
    .text_style{
        font-size: 50px; 
        font-weight: 800;
    }

    .contain{
        width: 20%;
    }

    .img_size{
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .cme{
        border: 1px solid white;
        padding: 10px;
        border-radius: 2px; 
        background-color: white;
        color: black;
    }
    
    .mre{
        border: 1px solid white;
        padding: 10px;
        border-radius: 2px; 
    }
    
    .project{
        display: flex;
        gap: 5px; 
        align-items: center; 
    }
    
    .new_text{
        font-size: 25px; 
        font-weight: 400;
    }
    
    .abt_me{
        margin-top: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .sat{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        margin-top: 50px;
        }

   .w_top{
        margin-top: 0px;
        }

    .project_pics_one{
         width: 500px;
         height: 230px;
         }
         
    .project_pics_two{
         width: 100%;
         height: 230px;
         }

    .know_me{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    
}